.container {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto;
}

.list {
  display: flex;
}

.link {
  padding: 10px 30px;

  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: var(--color-gray-background);
}

.link.active {
  color: var(--color-blue);
}

.backLink {
  width: fit-content;

  padding: 10px 30px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  transition: background-color 0.3s ease;
}

.backLink:hover {
  background-color: var(--color-gray-background);
}
