.form {
  display: flex;

  max-width: 320px;
  height: 30px;

  border-radius: 5px;
}
.input {
  height: 100%;
  width: 100%;

  padding: 0 10px;
  color: var(--color-dark);

  border: 1px solid var(--color-gray-background);
  border-right: 0;
  border-radius: 5px 0 0 5px;

  background-color: transparent;

  transition: border 0.3s ease;
}

.input:focus,
.input:focus-visible {
  border-color: var(--color-dark);
  outline: none;
}

.button {
  height: 100%;

  border: none;
  border-radius: 0 5px 5px 0;

  background-color: var(--color-blue);

  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.7;
}
