.card {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.imgWrapper {
  min-width: 200px;
  max-width: 250px;
}
.img {
  width: 100%;
}
.contentWrapper {
}
.title {
}
.score {
  margin-bottom: 10px;
}
.subtitle {
}
.overview {
  margin-bottom: 10px;
}
.genres {
  display: flex;
  gap: 10px;
}
.genre {
}
