:root {
  --color-white: #ffffff;
  --color-gray: #555454;
  --color-light: #e9e5e5;
  --color-gray-background: #cfcbcb;
  --color-dark: #212121;
  --color-dark-light: #252525;
  --color-blue: #2196f3;
}
